# specific to CodeBlocks IDE

*.layout
*.depend
*.cbp

# specific to VisualStudio

.vs
*.pdb
*.idb
*.obj

# generated directories

bin/
obj/
Debug/

# any images generated

*.jpg
*.png
*.exr

#imgui settings
*.ini
